* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background: linear-gradient(90deg, #ff886f, #ff4658);
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom-left-radius: 80px;
}
.bg-pattern {
  background-image: url('./images/bg-pattern-intro.svg');
  width: 100%;
  height: 500px;
  position: absolute;
  background-position: 25%;
  background-size: 250%;
  padding: 4rem 10rem;
  border-bottom-left-radius: 6rem;
  background-repeat: no-repeat;
}
.navbar {
  padding: 3rem 10rem;
}
